pipeline/Platforms_Incremental.json
{
	"name": "Platforms_Incremental",
	"properties": {
		"description": "Incremental loading of Airbnb datasets based on lastModifiedDate variable field",
		"activities": [
			{
				"name": "Copy platforms Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('v_max_lastModified')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "srcDatasetPlatforms",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_folder": "Platforms"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sinkDatasetPlatforms",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "sink",
							"p_folder": "Platforms"
						}
					}
				]
			},
			{
				"name": "Source Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "srcDatasetPlatforms",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_folder": "Platforms"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Source Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Source Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata for Last Modified",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dataset_source_filelevel",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "source",
										"p_folder": "Platforms",
										"p_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata for Last Modified",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@less(formatDateTime(variables('v_temp_max_lastModified'),'yyyyMMddHHmmss'),formatDateTime(activity('Get Metadata for Last Modified').output.lastModified,'yyyyMMddHHmmss'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "v_temp_max_lastModified",
											"value": {
												"value": "@activity('Get Metadata for Last Modified').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_max_lastModified",
					"value": {
						"value": "@variables('v_temp_max_lastModified')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_temp_max_lastModified": {
				"type": "String",
				"defaultValue": "2020-07-28T19:17:02Z"
			},
			"v_max_lastModified": {
				"type": "String",
				"defaultValue": "2020-07-28T19:17:02Z"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-29T16:40:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}