pipeline/sample pipeline.json
{
	"name": "sample pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_source_filelevel",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_folder": "Platforms",
							"p_file": "youtube.csv"
						}
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_temp",
					"value": {
						"value": "@formatDateTime(activity('Get Metadata1').output.lastModified,'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_temp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-29T16:12:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}